.containerIn{
  width: 900px;
  margin: 0 auto;
}
h1{
  margin-bottom: 20px;
  margin-bottom: 50px;
}
.text{
  font-size: 12px;
  border-bottom: 3px solid #aaa;
}
.text p:last-child{
  margin-bottom: 20px;
}
legend{
  display: none;
}
form{
  text-align: left;
  margin-bottom: 80px;
}
form div{
  height: 20px;
  padding: 15px;
  border-bottom: 1px solid #aaa;
  display: flex;
  
}
form div input::placeholder{
  font-size: 10px;
}
form label{
  color: #888;
  font-size: 16px;
  font-weight: 500;
  width: 200px;
}
form input{
  width: 200px;
  height: 20px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
form select{
  margin-right: 10px;
}
span{
  font-size: 12px;
}
select{
  width: 100px;
  height: 23px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.sub_btn{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_btn input{
  align-items: center;
  width: 80px;
  height: 25px;
  background-color: #888;
  border: 0;
  border-radius: 3px;
  color: #fff;
}

.confirmNum, .confirm{
  height: 22px;
  font-size: 12px;
  padding: 2px 5px;
  background-color: #888;
  border: 0;
  border-radius: 3px;
  color: #fff;
}