@charset "UTF-8";

.slide{
    position: relative;
    height: 320px;
}

.slide-img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -650px;
    width: 1300px;
    height: 250px;
    background-image: url(../img/slide.PNG);
    text-indent: -999999px;
}

.board{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-bottom: 80px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* background-color: blueviolet; */
}

h2{
    text-align: left;
    margin-bottom: 30px;
    font-size: 25px;
    color: #444;
    /* background-color: aqua; */
    line-height: 25px;

}

table{
    width: 1100px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

th{
    background-color: #999;
    color: #fff;
    font-weight: 400;
}

th, td{
    padding: 13px 0;
    border-bottom: 1px dotted #bbb;
}

.write{
    text-align: right;
    margin-bottom: 30px;
}

.write a{
    display: inline-block;
    font-size: 15px;
    color: #555;
    font-weight: 500;
    padding: 5px 15px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.search{
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}
label{
    margin-right: 10px;
}

.s-text{
    padding: 5px;
}

button{
    padding: 6px 25px;
    background-color: #999;
    color: #fff;
    border: none;
}